/*------------------- Reset CSS -------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------- Body Styles -------------------*/
body {
    height: 100vh;
    background-color: #339999;
    background-image: url("./images/seamless-texture-crumpled-paper-free.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/*------------------- Book Styles -------------------*/
.book {
    position: relative;
    padding: 30px;
    width: 450px;
    height: 500px;
    transform: rotate(-10deg);
    translate: 90px -90px;
}

/*------------------- Cover Styles -------------------*/
#f1 {
    background-color: #339999;
    box-shadow: 5px 5px 5px 8px #555353;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*------------------- Page Styles -------------------*/
.page {
    height: 100%;
    position: absolute;
    width: 95%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front, .back {
    background: linear-gradient(to right, #DDDDDD, #BDBDBD);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.7s;
    box-shadow: 5px 5px #555353;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.front {
    border-left: none;
    background: linear-gradient(to left, #DDDDDD, #BDBDBD);
    z-index: 1;
    backface-visibility: hidden;
}

.front-content, .back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-content {
    transform: rotateY(180deg);
}

/*------------------- Animation Styles -------------------*/
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/*------------------- Page Z-Index Styles -------------------*/
#p1 { z-index: 7; }
#p2 { z-index: 6; }
#p3 { z-index: 5; }
#p4 { z-index: 4; }
#p5 { z-index: 3; }
#p6 { z-index: 2; }
#p7 { z-index: 1; }

/*------------------- Cover Heading Styles -------------------*/
.cover-heading {
    color: #339999;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 27px;
}

/*------------------- Cover Text Wrapper Styles -------------------*/
.cover-text-wraper {
    display: flex;
    overflow: hidden;
}

/*------------------- Heading 2 Styles -------------------*/
#heading2 {
    color: white;
    font-size: 60px;
    margin-left: 25px;
}

/*------------------- Static Cover Styles -------------------*/
#static-cover {
    color: white;
    font-size: 30px;
    line-height: 40px;
}

/*------------------- Dynamic Cover Styles -------------------*/
#dynamic-cover {
    line-height: 60px;
    height: 40px;
}

#dynamic-cover li {
    color: #99ffff;
    font-size: 30px;
    list-style-type: none;
    margin-left: 10px;
    line-height: 40px;
    font-weight: 700;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
}

#dynamic-cover li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #339999;
    border-left: 1px solid #99ffff;
    animation: typing 3s steps(14) infinite;
}

@keyframes typing {
    40%, 60% {
        left: calc(100% + 20px);
    }
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        top: -120px;
    }
}

/*------------------- Button Styles -------------------*/
.forword-btn {
    position: absolute;
    font-size: 40px;
    bottom: 0;
    right: 40px;
    color: white;
}

.backword-btn {
    position: absolute;
    font-size: 40px;
    bottom: -10px;
    right: 25px;
    color: white;
}

button{
    margin: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}


/*------------------ intro-styles ----------------------*/

#intro-wrapper{
    height: 100%;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;

}

#top-content-p1{
    display: flex;
    flex-direction: column;
    /* justify-content:center ; */
    align-items: center;
}
#profile-picture-container img{
    width: 190px;
    height: 190px;
    margin-top: 45px;
    border-radius: 100%;
    /* border-color: #99ffff; */
    border: 8px solid #016e6e;
    

}
#social-links{
    display: flex;
    margin-top: 15px;
    width: 40%;
    justify-content: space-between;
    /* margin: 0px; */
}

#social-links img{
    width: 30px;
    /* background-color: #99ffff; */
    border-radius: 100%;
    
}

/* #social-links img:hover{
    background-color: rgb(173, 6, 189);
} */

#bottom-content-p1 p{
    padding: 20px;
    overflow: hidden;
    font-size: 15.4px;
    /* width: 350px; */
    text-align: justify;
    /* white-space-collapse: preserve-breaks; */
    letter-spacing:  -.5px; 
    /* word-spacing: 0px;  */
    font-weight: 900;
    /* font-style: italic; */
    color: #038585;
}

